.submit-button {
    margin: auto;
    width: 14%;
    border-radius: 10%;
}

.btn-color {
    background-color: #5ABBA4 !important;
    color: white !important;
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    padding: 0 10em;
}

.general-color {
    background-color: #F5F6F8;
}

.main-logo{
    width: 50%;
}

.btn-flex {
    display: flex;
    align-items: center;
}